root = true

[*.cs]
csharp_using_directive_placement = inside_namespace
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
dotnet_style_qualification_for_field = false:none
dotnet_style_qualification_for_property = false:none
dotnet_style_qualification_for_method = false:none
dotnet_style_qualification_for_event = false:none
resharper_csharp_instance_members_qualify_members = none
resharper_csharp_instance_members_qualify_declared_in = this_class
resharper_arrange_this_qualifier_highlighting = none
dotnet_naming_rule.private_fields_should_be_underscore_prefixed.severity = error
dotnet_naming_rule.private_fields_should_be_underscore_prefixed.symbols = private_fields
dotnet_naming_rule.private_fields_should_be_underscore_prefixed.style = underscore_prefixed_style
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_style.underscore_prefixed_style.required_prefix = _
dotnet_naming_style.underscore_prefixed_style.capitalization = camel_case
dotnet_diagnostic.SA1101.severity = none
